[phases.setup]
nixPkgs = ["nodejs_20", "corepack"]

[phases.install]
cmds = ["corepack enable", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm build"]

[start]
cmd = "npx serve dist -s -l 3000"
